%meta{:charset => "utf-8"}/
%title= @item[:title]
%meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/
%script{:src => @items['/assets/bower/platform/platform.js/'].path}
%script{:src => @items['/assets/bower/jquery/dist/jquery.min.js/'].path}
%script{:src => @items['/assets/bower/d3/d3.min.js/'].path}
%link{:href => @items['/stylesheet/'].path, :rel => "stylesheet"}/
